.users h3  {
    padding: 20px;
}

.pagination  {
    padding-left: 20px;
}

.selected {
    font-weight: bold;
}

.pageInput {
    width: 45px;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}