.nav {
    grid-area: n;
    background-color: #837598;
    padding: 20px;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a.active {
    color: #D0BCD5;
    text-decoration: none;

}