.nav {
    grid-area: nav;
    background-color: darkslategrey;
    padding: 20px;
}

.item {
    color: white;
}

.item a {
    color: white;
    text-decoration: none;
}

.item .active {
    color: cornsilk;
    font-weight: bold;
}
