.content img {
    width: 100%;
}

.description {
    padding:10px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.avatar img {
    padding:10px;
    width: 450px;
}

.avatar input {
    padding: 10px;
}