.dialogs {
    display: grid;
    grid-template-columns: 2fr 1fr 9fr;
}

.dialogs .dialogItems {
    padding: 10px;
}

.dialogItems .dialog {
    text-decoration: none;
    color: darkblue;
}

.vl {
    border-left: 6px solid darkslategrey;
    height: 100%;
}

.dialogItems .active {
    color: purple;
}

.messages {
    padding: 10px;
}


