.dialogs {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 9fr;
}

.dialogItems .dialog {
    padding: 20px;
}

.dialogItems a {
    color: rgba(156, 151, 143, 0.73);
    text-decoration: none;
}

.dialogItems a.active {
    color: #F3D9DC;
    text-decoration: none;

}

.separatorLine {
    background-color: rgba(29,1,0,0.92);
    height: 100%;
    width: 10px;
}

.messages {
    padding: 20px;
}

.message {

}

